<% layout("/layouts/boilerplate") %>
<div class="table-show">
    <table>
        <tr>
            <th>ID</th>
            <td><%= student.id %></td>
        </tr>
        <tr>
            <th>NAME</th>
            <td><%= student.name %></td>
        </tr>
        <tr>
            <th>EMAIL</th>
            <td><%= student.email %></td>
        </tr>
        <tr>
            <th>DEPARTMENT</th>
            <td><%= student.department %></td>
        </tr>
        <tr>
            <th>SEMESTER</th>
            <td><%= student.semester %></td>
        </tr>
        <tr>
            <th>PHONE NO</th>
            <td><%= student.phone %></td>
        </tr>
        <tr>
            <th>CREATED AT</th>
            <td><%= student.created_at %></td>
        </tr>
    </table>
    <a href="/students"><button class="btn btn-light">Back to All Students</button></a>
</div>